$themeColor: linear-gradient(
90deg, #0000ff 0%, #195ae6 15%, #3a65da 41%, #53b8e7 72.99%, #41abc9 98.99%
);
$themeColorHover: linear-gradient(89.96deg, #dffcf3 0.03%, #dffcf3 99.81%);
$pageBackground: #fff;
$lightButtonColor: #ffffff;
$lightButtonBorderColor: #a0a0a0;
$lightButtonColorHover: #f1f1f1;

$red: #d80000;

.color {
  color: $themeColor;
}
.red {
  color: $red;
}
